<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959632472884-g7625urkod9364crshoo05s9djkciusk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959632472884-g7625urkod9364crshoo05s9djkciusk</string>
	<key>API_KEY</key>
	<string>AIzaSyDI7cUhLa7WceyPVFkLRtobowNXUyuR_Jc</string>
	<key>GCM_SENDER_ID</key>
	<string>959632472884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>will.ListarFilmesMVC</string>
	<key>PROJECT_ID</key>
	<string>listafilmes-2b295</string>
	<key>STORAGE_BUCKET</key>
	<string>listafilmes-2b295.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959632472884:ios:793a8ad855b6d4351e4361</string>
</dict>
</plist>